<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MyMaster.Master.cs" Inherits="projectron.Home" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <link href="StyleSheet1.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <a href="HomePage.aspx" class="button"> back to home page </a> 
    
    <asp:ContentPlaceHolder ID="body" runat="server">
    </asp:ContentPlaceHolder>
</body>
</html>
